<div class="container">
  <div class="fluid">
    <div class="banner">
      <div class="col-xs-12">
        <%= render "shared/search-form-video" %>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-3">
        <div class="card-video" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/196651/pexels-photo-196651.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
          <div class="card-video-category">02/01/2018</div>
          <div class="card-video-description">
            <h2>Le respect dans le couple</h2>
            <p>Thème: couple</p>
          </div>
          <img class="card-video-user" alt="Rav Lemmel" src="https://thumb.ibb.co/cse5Y8/10169292_10205940869580034_4791838290992787048_n.jpg">
          <a class="card-video-link" href="/videos/1" ></a>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-3">
        <div class="card-video" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/590493/pexels-photo-590493.jpeg?auto=compress&cs=tinysrgb&h=350');">
          <div class="card-video-category">22/05/2018</div>
          <div class="card-video-description">
            <h2>L'éducation des enfants</h2>
            <p>Thème: famille</p>
          </div>
          <img class="card-video-user" alt="Rav Lemmel" src="https://image.ibb.co/kj5vY8/11096576_927820777238617_6817974736966445117_n.jpg">
          <a class="card-video-link" href="#" ></a>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-3">
        <div class="card-video" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/338936/pexels-photo-338936.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
          <div class="card-video-category">14/04/2018</div>
          <div class="card-video-description">
            <h2>Les fruits</h2>
            <p>Thème: cacherout</p>
          </div>
          <img class="card-video-user" alt="Rav Lemmel" src="https://thumb.ibb.co/cse5Y8/10169292_10205940869580034_4791838290992787048_n.jpg">
          <a class="card-video-link" href="#" ></a>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-3">
        <div class="card-video" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/590493/pexels-photo-590493.jpeg?auto=compress&cs=tinysrgb&h=350');">
          <div class="card-video-category">21/12/2017</div>
          <div class="card-video-description">
            <h2>Chavout</h2>
            <p>Thème: fêtes</p>
          </div>
          <img class="card-video-user" alt="Rav Lemmel" src="https://thumb.ibb.co/cse5Y8/10169292_10205940869580034_4791838290992787048_n.jpg">
          <a class="card-video-link" href="#" ></a>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-3">
        <div class="card-video" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/338936/pexels-photo-338936.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
          <div class="card-video-category">02/09/2017</div>
          <div class="card-video-description">
            <h2>La émouna</h2>
            <p>Thème: éducation</p>
          </div>
          <img class="card-video-user" alt="Rav Lemmel" src="https://image.ibb.co/kj5vY8/11096576_927820777238617_6817974736966445117_n.jpg">
          <a class="card-video-link" href="#" ></a>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-3">
        <div class="card-video" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/196651/pexels-photo-196651.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
          <div class="card-video-category">05/05/2018</div>
          <div class="card-video-description">
            <h2>Le respect dans le couple</h2>
            <p>Thème: couple</p>
          </div>
          <img class="card-video-user" alt="Rav Lemmel" src="https://thumb.ibb.co/cse5Y8/10169292_10205940869580034_4791838290992787048_n.jpg">
          <a class="card-video-link" href="#" ></a>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-3">
        <div class="card-video" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/590493/pexels-photo-590493.jpeg?auto=compress&cs=tinysrgb&h=350');">
          <div class="card-video-category">23/05/2018</div>
          <div class="card-video-description">
            <h2>Le conjoint idéal existe-t-il?</h2>
            <p>Thème: couple</p>
          </div>
          <img class="card-video-user" alt="Rav Lemmel" src="https://image.ibb.co/kj5vY8/11096576_927820777238617_6817974736966445117_n.jpg">
          <a class="card-video-link" href="#" ></a>
        </div>
      </div>

<!-- pages navigation de la recherche  -->
      <div aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
