<div class="container">
  <div class="fluid">
    <div class="banner-video">
    <!-- La vidéo -->
    <div class="row">
      <div class="col-xs-6 col-md-10">
        <h1 class="text-uppercase mt-5 blue">Le respect dans le couple</h1>
      </div>
      <div class="col-xs-6 col-md-2">
        <p class="mt-5 font-size-xs font-italic">ajoutée le 2 janvier 2018</p>
      </div>
      <div class="col-xs-12">
        <h4 class="pb-4">Par <u>Rav Lemmel</u></h4>
      </div>
      <div class="col-xs-6 col-xs-offset-2">
        <div class="ml-2">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/p0iI-dIPByI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>

      <div class="row px-4 py-5">
        <div class="col-xs-12 col-md-2">
          <h5 class="font-size-md title">Description</h5>
        </div>
        <div class="col-xs-12 col-md-10">
          <p class="text-justify font-size-sm ml-4">
            Iam virtutem ex consuetudine vitae sermonisque nostri interpretemur nec eam, ut quidam docti, verborum magnificentia metiamur virosque bonos eos, qui habentur, numeremus, Paulos, Catones, Galos, Scipiones, Philos; his communis vita contenta est; eos autem omittamus, qui omnino nusquam reperiuntur.
          </p>
        </div>
        <div class="col-xs-12 col-md-2">
          <h5 class="font-size-md title">Durée</h5>
        </div>
        <div class="col-xs-12 col-md-10">
          <p class="text-justify font-size-sm ml-4">
            10 minutes
          </p>
        </div>
      </div>

    </div>
      <!-- Selection au hasard de 4 vidéos du même thème -->
      <div class="row">
        <div class="col-xs-12">
          <h3 class="py-4">D'autres vidéos dans le thème du respect</h3>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-3">
          <div class="card-video mid-height" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/196651/pexels-photo-196651.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
            <div class="card-video-category">02/01/2018</div>
            <div class="card-video-description">
              <h2>Le respect dans le couple</h2>
              <p>Thème: couple</p>
            </div>
            <img class="card-video-user" alt="Rav Lemmel" src="https://thumb.ibb.co/cse5Y8/10169292_10205940869580034_4791838290992787048_n.jpg">
            <a class="card-video-link" href="/videos/1" ></a>
          </div>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-3">
          <div class="card-video mid-height" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/196651/pexels-photo-196651.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
            <div class="card-video-category">02/01/2018</div>
            <div class="card-video-description">
              <h2>Le respect dans le couple</h2>
              <p>Thème: couple</p>
            </div>
            <img class="card-video-user" alt="Rav Lemmel" src="https://thumb.ibb.co/cse5Y8/10169292_10205940869580034_4791838290992787048_n.jpg">
            <a class="card-video-link" href="/videos/1" ></a>
          </div>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-3">
          <div class="card-video mid-height" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/196651/pexels-photo-196651.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
            <div class="card-video-category">02/01/2018</div>
            <div class="card-video-description">
              <h2>Le respect dans le couple</h2>
              <p>Thème: couple</p>
            </div>
            <img class="card-video-user" alt="Rav Lemmel" src="https://thumb.ibb.co/cse5Y8/10169292_10205940869580034_4791838290992787048_n.jpg">
            <a class="card-video-link" href="/videos/1" ></a>
          </div>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-3">
          <div class="card-video mid-height" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/196651/pexels-photo-196651.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
            <div class="card-video-category">02/01/2018</div>
            <div class="card-video-description">
              <h2>Le respect dans le couple</h2>
              <p>Thème: couple</p>
            </div>
            <img class="card-video-user" alt="Rav Lemmel" src="https://thumb.ibb.co/cse5Y8/10169292_10205940869580034_4791838290992787048_n.jpg">
            <a class="card-video-link" href="/videos/1" ></a>
          </div>
        </div>
      </div>

<!-- Slection de 4 vidéos du meme conférencier au hasard -->
    <div class="row">
      <div class="col-xs-12">
        <h3 class="py-4">D'autres vidéos du Rav Lemmel</h3>
      </div>

      <div class="col-xs-6 col-md-4 col-lg-3">
        <div class="card-video mid-height" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/590493/pexels-photo-590493.jpeg?auto=compress&cs=tinysrgb&h=350');">
          <div class="card-video-category">23/05/2018</div>
          <div class="card-video-description">
            <h2>Le conjoint idéal existe-t-il?</h2>
            <p>Thème: couple</p>
          </div>
          <img class="card-video-user" alt="Rav Lemmel" src="https://image.ibb.co/kj5vY8/11096576_927820777238617_6817974736966445117_n.jpg">
          <a class="card-video-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-6 col-md-4 col-lg-3">
        <div class="card-video mid-height" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/338936/pexels-photo-338936.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
          <div class="card-video-category">02/09/2017</div>
          <div class="card-video-description">
            <h2>La émouna</h2>
            <p>Thème: éducation</p>
          </div>
          <img class="card-video-user" alt="Rav Lemmel" src="https://image.ibb.co/kj5vY8/11096576_927820777238617_6817974736966445117_n.jpg">
          <a class="card-video-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-6 col-md-4 col-lg-3">
        <div class="card-video mid-height" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/590493/pexels-photo-590493.jpeg?auto=compress&cs=tinysrgb&h=350');">
          <div class="card-video-category">23/05/2018</div>
          <div class="card-video-description">
            <h2>Le conjoint idéal existe-t-il?</h2>
            <p>Thème: couple</p>
          </div>
          <img class="card-video-user" alt="Rav Lemmel" src="https://image.ibb.co/kj5vY8/11096576_927820777238617_6817974736966445117_n.jpg">
          <a class="card-video-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-6 col-md-4 col-lg-3">
        <div class="card-video mid-height" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/338936/pexels-photo-338936.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
          <div class="card-video-category">02/09/2017</div>
          <div class="card-video-description">
            <h2>La émouna</h2>
            <p>Thème: éducation</p>
          </div>
          <img class="card-video-user" alt="Rav Lemmel" src="https://image.ibb.co/kj5vY8/11096576_927820777238617_6817974736966445117_n.jpg">
          <a class="card-video-link" href="#" ></a>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
