<!-- footer -->
<div class="footer">
  <div>
    <p class="text-center">Retrouvez-nous sur les réseaux sociaux</p>
    <div class="footer-links">
      <a href="#" class="link-1"><i class="fa fa-youtube"></i></a>
      <a href="#" class="link-2"><i class="fa fa-instagram"></i></a>
      <a href="#" class="link-3"><i class="fa fa-facebook"></i></a>
      <a href="#" class="link-4"><i class="fa fa-twitter"></i></a>
      <a href="#" class="link-5"><i class="fa fa-linkedin"></i></a>
      <a href="#" class="link-6"><i class="fa fa-google-plus"></i></a>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© 2018 Lev Association. Tous droits reservés.</p>
  </div>
</div>
<!-- /#footer -->
