
<!-- navbar -->
<div class="navbar-wagon">

    <!-- barre de recherche -->
  <!--   <form class="navbar-form navbar-left hidden-xs hidden-sm" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Intitulé du cours">
      </div>
      <button type="submit" class="btn btn-default">
        <i class="fa fa-search"></i>
      </button>
    </form> -->


  <!-- Logo -->
  <a href="/" class=" navbar-wagon-brand">
    <%= image_tag "logo_lev.png" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="/videos" class="navbar-wagon-item navbar-wagon-link text-uppercase">Les vidéos</a>
    <a href="/equipe" class="navbar-wagon-item navbar-wagon-link text-uppercase">L'équipe</a>
    <a href="/equipe" class="navbar-wagon-item navbar-wagon-link text-uppercase">Contact</a>
  </div>

</div>
<!-- /#navbar -->

<!-- appears only on small devices -->
<div class="container-fluid">
  <div class="navbar-wagon-right navbar-bottom-padding hidden-md hidden-lg">
    <a href="/videos" class="navbar-wagon-item navbar-wagon-link text-uppercase">Les vidéos</a>
    <a href="/equipe" class="navbar-wagon-item navbar-wagon-link text-uppercase">L'équipe</a>
    <a href="/equipe" class="navbar-wagon-item navbar-wagon-link text-uppercase">Contact</a>
  </div>
</div>
