<div class="input-text form-inline my-5">

    <!-- <label for="mots-cles">Mots clés</label> -->
    <input type="text" id="mots-cles" class="form-releve mb-2 mr-sm-2" placeholder="mots clés">

    <!-- <label for="conferencier">Nom du conférencier</label> -->
    <input type="text" id="conferencier" class="form-releve mb-2 mr-sm-2" placeholder="Conférencier">

    <!-- <label for="date">Date</label> -->
    <input type="text" id="date" class="form-releve mb-2 mr-sm-2"  placeholder="Date du cours"  >

    <div class="form-group ">
      <select>
        <option value=""></option>
        <option value="famille">Famille</option>
        <option value="éducation">Éducation</option>
        <option value="couple">Couple</option>
        <option value="cacherout">Cacherout</option>
        <option value="mistvot">Mitsvot</option>
        <option value="paracha">Paracha</option>
      </select>
    </div>

    <button type="submit" class="btn-releve">Lancer ma recherche</button>
</div>

