<form>
  <div class="form-row align-items-center pt-4 pb-4">
    <div class="col-auto">
      <input class="form-control form-control-sm" type="text" placeholder="titre du cours">
    </div>
    <div class="col-auto">
      <select class="custom-select mr-sm-2" id="">
      <option selected>Thème</option>
      <option value="1">Famille</option>
      <option value="2">Éducation</option>
      <option value="3">Cacherout</option>
      <option value="4">Couple</option>
      <option value="5">Mitsvot</option>
    </select>
    </div>
    <div class="col-auto">
      <input class="form-control form-control-sm" type="text" placeholder="nom du rav">
    </div>
    <div class="col-auto">
      <input class="form-control form-control-sm" type="text" placeholder="date">
    </div>
    <button type="submit" class="btn btn-primary">Rechercher</button>
  </div>
</form>
