  <div class="fluid">
    <div class="banner">
      <div class="col-xs-12">
        <h1 class="pl-5 mt-5 mb-3 title">L'association</h1>
        <p class="text-uppercase text-center xl-size blue bold-xl pl-5 mt-3 mb-3">chaque juif est important</p>
        <h3 class="px-5 mb-3 text-justify">Le Rav Elie Lemmel crée Lev avec la volonté de faire vivre la vision d’une communauté juive riche de chacun de ses membres.
        <br>Depuis sa création, Lev diffuse un judaïsme authentique et ouvert capable de se faire entendre de tous, y compris des plus éloignés de toute identité juive.</h3>
      </div>
      <div class="col-xs-12"><hr class="blue blue-line"></div>
      <div class="col-xs-12 col-md-6">
        <div class="pl-5 pr-4 mt-3">
          <h3 class="pb-3 blue bold-lg">Une promotion de l’identité juive</h3>
          <p class="md-size text-justify font-weight-bold font-italic">
            La mission de Lev est de promouvoir la connaissance du Judaïsme et de notre patrimoine en proposant des cours et conférences adaptés aux besoins de chacun.
          </p>
          <p class="md-size text-justify">
            Notre mission de promotion de l’identité juive s’articule autour de 2 axes majeurs : prévenir en amont l’éloignement progressif d’une partie notre peuple et gérer, en aval, des difficultés de certains membres de la communauté.
          </p>
          <p class="md-size">
            Notre longue expérience montre que l’exposition au message de la Torah déclenche naturellement un mouvement vers une vie juive durable et permet de prévenir l’éloignement d’une partie de notre peuple.
          </p>
          <p class="md-size text-justify">
            Pour gérer les difficultés rencontrées par des membres de notre communauté en matière d’éducation, de relations familiales ou de couple... nous les accompagnons en leur faisant partager les réponses que la Torah propose. La résolution de ces problèmes par le prisme de la Torah permet d’ancrer leur identité juive au quotidien.
          </p>
          <p class="md-size text-justify">
            Ces axes d’actions agissent comme de puissants déclencheurs d’identité. Le résultat dans lesdeux cas... Une vie juive épanouie.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="pr-5 pl-4 mt-3">
          <h3 class="blue bold-lg pb-3">Un traitement global</h3>
          <p class="md-size text-justify">
            Dès 2003, afin de pouvoir répondre de manière pertinente aux defis spécifiques liés aux couples, à la famille, aux jeunes..., Lev développe un accompagnement construit en fonction des besoins de chacun d’eux et segmente ses activités en plusieurs pôles dédiés.
          </p>
          <p class="md-size">
            Grâce aux différents pôles experts et aux synergies existantes entre elles, Lev est en mesure de répondre efficacement à l’ensemble de ses missions.
          </p>
          <p class="md-size">
            Lev est aujourd'hui reconnu comme étant une plateforme majeure de l'action en faveur de notre communauté en offrant un traitement global (prévention/gestion) aux défis de notre génrération.
          </p>

          <p class="md-size text-justify">Lev accompagne au quotidien les juifs francophones en France et à l’étranger dans la connaissance et la découverte de leur héritage.
          </p>
          <p class="md-size">
          Depuis 31 ans des milliers de juifs ont eut accès à un Judaïsme authentique au travers d’un enseignement ouvert, non culpabilisant et respectueux de chacun.
          </p>
          <p class="md-size">
          De sa connaissance intime des réalités de notre communauté, Lev tire son statut d’expert en déclencheur d’identité juive.
          </p>
        </div>
      </div>
      <div class="col-xs-12">
        <h5 class="roboto pt-5 mb-0 text-center blue bold-xl xxl-size">31 ANS D’ACTIVITÉS</h5>
        <h5 class="roboto margin-xs text-center lg-size pb-5">AU SERVICE DE CHAQUE JUIF</h5>
      </div>
    </div>
  </div>

