  <div class="fluid">
    <div class="banner">
      <div class="col-xs-12">
        <h1 class="pl-5 mt-5 mb-3 title">Contactez-nous</h1>
      </div>
      <div class="col-xs-12 col-md-6">
        <p class="bold-lg pl-5 mb-1 mt-3 regular-size">Association Lev</p>
        <div class="md-size pl-5">
          <p class="mb-0">24 rue des Martyrs
          <br>75009 PARIS</p>
          <p class="mb-0">Tel : 01 48 74 18 82</p>
          <p class="">email : lev@associationlev.com</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2623.950888059352!2d2.3376063156750804!3d48.87821277928938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e473a789259%3A0xd7c49e3497c79f9b!2s24+Rue+des+Martyrs%2C+75009+Paris!5e0!3m2!1sfr!2sfr!4v1530624526101" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col-xs-12">
        <h2 class="pl-5 mt-5 mb-3 title lg-size">Écrivez-nous</h2>
        <form>
          <div class="form-row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Nom">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Prénom">
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
              </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Télephone">
            </div>
          </div>
          <div class="form-group">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
            </div>
        </form>
      </div>
    </div>
  </div>






