<div class="fluid">
  <div class="banner-equipe">
    <div class="col-xs-12">
     <h1 class="pl-5 mt-5 mb-5 title">L'équipe</h1>
    </div>

<!-- Tabs -->
  <div class="tab">
    <ul class="tabs">
      <div class="row">
        <li class="col-xs-12 col-md-3">
          <a href="#">
            <div class="lemmel mt-4"></div>
            <h3 class="pt-3 blue bold-lg">Rav Elie Lemmel</h3>
            <h4 class="font-weight-light font-italic">Directeur Association Lev</h4>
          </a>
        </li>
        <li class="col-xs-12 col-md-3">
          <a href="#">
            <div class="drai mt-4"></div>
            <h3 class="pt-3 blue bold-lg">Rav Avraham Drai</h3>
            <h4 class="font-weight-light font-italic">Conferencier Lev Paris</h4>
          </a>
        </li>
        <li class="col-xs-12 col-md-3">
          <a href="#">
            <div class="mariacha mt-4"></div>
            <h3 class="pt-3 blue bold-lg">Mariacha Drai</h3>
            <h4 class="font-weight-light font-italic">Conferencière Lev Paris</h4>
          </a> 
        </li>
        <li class="col-xs-12 col-md-3">
          <a href="#">
            <div class="raphael mt-4"></div>
            <h3 class="pt-3 blue bold-lg">Raphaël Gottfarstein</h3>
            <h4 class="font-weight-light font-italic">Directeur ReLev</h4>
          </a> 
        </li>
      </div>
    </ul>


    <!-- Lemmel -->
    <div class="tab_content">
      <div class="class tabs_item"> 
        <p class="content md-size text-justify pt-5 pl-5 pr-5 mx-5">
          Directeur de l’association Lev, le rav Elie Lemmel est rabbin et conférencier. Animateur de séminaires, chroniqueur, conseiller, il cumule de nombreuses responsabilités afin de faire profiter à tous de l’expérience acquise au cours de ses années d’enseignement et de contact avec le public.
          <br>Le rav Lemmel débute sa formation dans les grandes yeshivot en France et en Israël et obtient sa semih’a (ordination). Il dirige l’association Arakhim en France depuis 1995 puis crée, en 2000, l’association LEV.
          <br>Suivent le site internet Lamed.fr ainsi que la maison de la famille en 2002.
          <br>Conférencier international, le rav est sollicité aussi bien en France qu’à l’étranger. Il intervient sur nombreux sujets, en particulier sur les thèmes liés à la sphère familiale.
          <br>Il intervient également à la radio, notamment avec sa chronique sur ActuJ.
          <br>En tant que membre du comité d’éthique de RAMBAM France, il crée l’émission Chalom RAV sur TFJ.

          <br>Rav Lemmel a écrit deux ouvrages : “Les quatre coupes de lait” – qui propose une approche du développement personnel selon la tradition juive et a trouvé un très bon accueil auprès du public – ainsi que “La chèvre dans le placard” qui porte sur le rapport à autrui et la maîtrise de soi.
        </p>
      </div>

   
        
      <div class="class tabs_item"> 
        <p class="md-size text-justify pt-5 pl-5 pr-5 mx-5">Après une grande école de Télécommunication et une maîtrise de gestion à Dauphine il étudie pendant 13 ans la Bible, le  Talmud et la pensée juive en Israël.
        <br>De retour en France depuis 10 ans, dans le cadre de l’association LEV, il partage son goût de l’étude via diverses  plates-formes: universités, communauté et séminaires.
        <br>Afin de répondre au regain d’intérêt pour les cours sur texte, il crée le concept: « doc’torah  » chaque cours est accompagné d’un document A4 sur lesquels figurent le plan de cours ainsi que toutes les sources Toraïques utilisées, traduites de façon à permettre aux auditeurs de découvrir la magie du texte.
        <br>Plusieurs domaines sont enseignés sous forme de module : Éducation / Rachi / Avot/ Amida...</p>
      </div>
        
      <div class="class tabs_item">
        <p class="md-size text-justify pt-5 pl-5 pr-5 mx-5">Mariacha Drai est ingénieur en informatique diplômée de l’Université de Beer Sheva. En parallèle, elle a suivi un cursus de mathématiques a l’Université de Besançon.
        <br>Elle a exercé au sein de DSIT en Israël pendant 10 ans .Elle y a été chef de projet dans l’informatisation des protocoles de chimiothérapie dans les hôpitaux Schneider et Meir de kfar saba.
        <br>En France, elle choisit de s’investir dans la transmission – en particulier à la jeunesse.
        <br>Elle est formatrice d’enseignants de kodesh et écrit de nouveaux programmes d’enseignement au lycée.
        <br>Elle intègre par la suite l’équipe de LEV et crée le séminaire Bohi Kala de formation des futures mariées.</p>
      </div> 
        
      <div class="class tabs_item">
        <p class="md-size text-justify pt-5 pl-5 pr-5 mx-5">Raphaël Gottfarstein est un educateur diplômé de la yechiva torat Haim en Israël, en 2011 il fonde avec le rav elie lemmel la Relev, la branche jeunesse de l’association Lev.
        <br>Il développe les chabats pleins, les voyages pédagogiques, les cours et autres activites qui ont pour seul objectif de rassembler les jeunes autour de leur identité juive. Il donne a chacun la possibilité de savoir comment et à qui s’adresser pour en apprendre plus sur son judaisme.
        <br>En 2017, il inaugure et dirige le Centre Relev de la rue Cadet en plein coeur de Paris où chaque jeune peut s’y retrouver en alliant vie universitaire et vie communautaire.
        <br>Raphaël manage ce centre qui met a disposition une cafétéria, deux salles d’études, un beth hamidrach et des cours de pensée juive quotidiennement.
        <br>Raphaël est également conférencier.
        <br>Il aborde des sujets auxquels la jeunesse est confrontée, traitant aussi bien des sujets d’actualités que des sujets de questionnements personnels. Il forme également les parents en éducation sur tous les sujets auxquelles ils sont confronter avec leurs enfants !
        <br>Après des études de yoets Torani (conseil en Torah: entre Rabbin et psychologue) en Israël, Raphaël est responsable depuis 3 ans du secteur jeunesse de l’association Lev du Rav Elie Lemmel</p>
      </div>
    </div> 

    </div>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="javascripts/tabs.js"></script>

<script type="text/javascript"> 
$(document).ready(function() {

  (function ($) {
    $('.tab ul.tabs').addClass('active').find('> div > li:eq(0)').addClass('current');

    $('.tab ul.tabs li a').click(function (g) {
      var tab = $(this).closest('.tab'),
        index = $(this).closest('li').index();

      tab.find('ul.tabs > div > li').removeClass('current');
      $(this).closest('li').addClass('current');

      tab.find('.tab_content').find('div.tabs_item').not('div.tabs_item:eq(' + index + ')').slideUp();
      tab.find('.tab_content').find('div.tabs_item:eq(' + index + ')').slideDown();

      g.preventDefault();
    } );
  })(jQuery);

});
</script>


