<div class="fluid">
  <div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/403571/pexels-photo-403571.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
    <div class="banner-content">
      <div class="col-xs-12">
        <h1 class="text-lev text-left padding">Être présent pour chaque juif à chaque étape de sa vie et de sa construction</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-xs-12">
      <h3 class="text-left text-uppercase py-5 font-weight-bold">
      <!-- <i class="fa fa-chevron-right pr-2"></i> --> Découvrez les différents pôles d'activités de notre association</h3>
    </div>

  <!-- LEV -->
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/149637/pexels-photo-149637.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
        <div class="card-home-category font-card-1">Lev</div>
        <a class="card-home-link card-home-1" target="_blank" href="www.i-lev.fr" ></a>
      </div>
    </div>

<!-- RELEV -->
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www3.lubavitch.com/files.html/8608926/image%7Cpng/20171222_104929.png?scale_max=597');">
        <div class="card-home-category">
          <p class="font-card-2">Re</p>
          <p class="font-card-1">lev</p></div>
        <a class="card-home-link card-home-2" target="_blank" href="www.larelev.fr" ></a>
      </div>
    </div>


      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://scontent-mrs1-1.xx.fbcdn.net/v/t1.0-9/26907006_1567349806682968_7669949782987818898_n.jpg?_nc_cat=0&oh=8fe844b583384dc16f9c728fb20b4be1&oe=5BF93A1E');">
          <div class="card-home-category text-center justify overlay">
            <p class="font-card-1">Lev</p>
            <p class="font-card-3">o'pen</p></div>
          <a class="card-home-link card-home-3" target="_blank" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://new.goisrael.com/fr/sites/default/files/styles/1397x735_article_full/public/Jerusalem%201397X735_0%20French.jpg?itok=y4EfyMaf');">
          <div class="card-home-category text-center justify overlay">
            <p class="font-card-1">lev</p>
            <p class="font-card-4">israël</p></div>
          <a class="card-home-link card-home-4" target="_blank" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://4.bp.blogspot.com/-2C2BsgPBOiY/WSk4eY212jI/AAAAAAAAC_E/cG07QDWaAo40tjm1OHxUFlZhdQjyV7B1wCLcB/s1600/Family-Status-for-Whatsapp-in-English-Family-Whatsapp-Status.jpg');">
          <div class="card-home-category text-center justify overlay">
            <p class="font-card-1">lev</p>
            <p>famille</p></div>
          <a class="card-home-link card-home-5" target="_blank" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/45842/clasped-hands-comfort-hands-people-45842.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
          <div class="card-home-category text-center justify overlay">
            <p class="font-card-1">lev</p>
            <p class="font-card-5">social</p></div>
          <a class="card-home-link card-home-6" target="_blank" href="#" ></a>
        </div>
      </div>
  </div>

  </div>

