<div class="container">
  <div class="fluid">
    <div class="banner">
      <div class="col-xs-12">
        <h1 class="text-lev text-center pt-4 blue lg-bold">Être présent pour chaque juif à chaque étape de sa vie et de sa construction</h1>
        <h4 class="text-center pt-2 pb-4">Découvrez les différents pôles d'activités de notre association</h4>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/248444/pexels-photo-248444.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
          <div class="card-home-category overlay">Lev</div>
          <a class="card-home-link card-home-1" target="_blank" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/149637/pexels-photo-149637.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
          <div class="card-home-category overlay">Re<br>lev</div>
          <a class="card-home-link card-home-2" target="_blank" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/149637/pexels-photo-149637.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
          <div class="card-home-category text-center justify overlay">Lev'<br>open</div>
          <a class="card-home-link card-home-3" target="_blank" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/149637/pexels-photo-149637.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
          <div class="card-home-category text-center justify overlay">lev<br>israël</div>
          <a class="card-home-link card-home-4" target="_blank" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/149637/pexels-photo-149637.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
          <div class="card-home-category text-center justify overlay">Lev<br>famille</div>
          <a class="card-home-link card-home-5" target="_blank" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/149637/pexels-photo-149637.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
          <div class="card-home-category text-center justify overlay">lev<br>social</div>
          <a class="card-home-link card-home-6" target="_blank" href="#" ></a>
        </div>
      </div>
    </div>
  </div>
</div>
