.banner-video {
  height: calc(220vh - 70px);
}

.mid-height {
  height: 165px;
  width: 230px;
}

.font-size-sm {
  font-size: 14px;
}

.font-size-md {
  font-size: 1.65rem;
}

.font-size-xs {
  font-size: 12px;
}
