<p>
  En 1987, avec Arakhim devenu Lev en 2000,
mon père Zal, avec à ses côtés une équipe remarquable, mu par le désir de faire découvrir la beauté de la Torah qu'il avait
lui-même découvert après la Shoah, a allumé une étincelle. Lev, c'est cette étincelle devenue flamme...
</p>
